@page "/orders"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent

<PageTitle>eShopOnWeb Admin: Order List</PageTitle>

@if (orderList == null)
{
    <Spinner></Spinner>
}
else
{
    
    <table class="table table-striped table-hover">
        <thead>
        <tr >
            <th>@nameof(OrderList.BuyerId)</th>
            <th>@nameof(OrderList.Total)</th>
            <th>@nameof(OrderList.OrderDate)</th>
            <th>@nameof(OrderList.IsApproved)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="cursor-pointer">
        @foreach (var item in orderList)
        {
            <tr @onclick="@(() => DetailsClick(item.Id,item.IsApproved))">
                <td>@item.BuyerId</td>
                <td>@item.Total</td>
                <td>@item.OrderDate</td>
                <td>@item.IsApproved</td>
            </tr>
        }
        </tbody>
    </table>
    <Details OrderItems="@orderItems"  OnDetailClick="ReloadOrderItems" @ref="DetailsComponent"></Details>
}